<h1>Welcome to my Car Simulator Budday!</h1>

<h3>Enter your vehicle's make and model year budday!</h3>



<form id="make_model" action="make" method="get">
  <input type="text" name="make" placeholder="Make" required/> <br>
  <input type="text" name="year" placeholder="Year" required/>
  <input type="submit" value="Submit"/>
</form>
